# Strata Source of Truth
DEFINITIONS:
  - CLOUD: Operator
    fields: 
      - name 
      - hourly_rate

  - CLOUD: Client
    fields: 
      - name
      - email

  - ISLAND: Project
    path: "./DEV/*"
    meta_file: "meta.yaml"
    relations:
      - operator: CLOUD.Operator(name)
      - client: CLOUD.Client(name)

VIEWS:
  - GRAPH: "Productivity"
    logic: "SUM(Project.tasks.hours) GROUP BY operator"
